@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url(https://legendswillneverdie.files.wordpress.com/2023/05/img_0189.png?w=1000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;


}
a {
  position: static;
  background-color: #1a1927;
  color: #ffffff;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  opacity: 0.5;
  padding: 20px;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.7s;
  border: none;
  margin: 6px;
  border-radius: 12px;

}
a:hover
{
  opacity: 1;
  background: var(--clr);
  letter-spacing: 0.15em;
  box-shadow: 0 0 12px var(--clr);
  color: #000000;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 40vh;
}
    .hidden {
      opacity: 0;
      transition: 2s;
    }
.show {
    opacity: 1;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbar ul li
{
  list-style: none;
  display: inline-block;
  margin: 0;
}