@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;


}
a {
  position: relative;
  background-color: #302f3b;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.3s;
  border: none;
  margin: 4px;
  display: inline-block;
  border-radius: 12px;

}
a:hover
{
  background: var(--clr);
  letter-spacing: 0.15em;
  box-shadow: 0 0 15px var(--clr);
  color: #000000;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 40vh;
}

@media (prefers-reduced-motion: no-preference) {
    .hidden {
      opacity: 0;
      transition: 2s;
    }
  }
.show {
    opacity: 1;
}
