@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;


}
a {
  position: static;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  opacity: 1.0;
  padding: 30px;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding: 10px 30px;
  transition: 0.5s;
  border: none;
  margin: 6px;
  border-radius: 15px;

}
a:hover
{
  padding: 10px 30px;
  opacity: 1;
  background: var(--clr);
  letter-spacing: 0.15em;
  box-shadow: 0 0 15px var(--clr);
  color: #000000;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}
    .hidden {
      opacity: 0;
      transition: 1s;
    }
.show {
    opacity: 1;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbar ul li
{
  list-style: none;
  display: inline-block;
  margin: 0;
}